:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    29deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}